<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBl1_LkHDotMoxGbGDvH6_UFAzRWCmY4wk</string>
	<key>GCM_SENDER_ID</key>
	<string>475086150559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beFit</string>
	<key>PROJECT_ID</key>
	<string>be-fit-25f13</string>
	<key>STORAGE_BUCKET</key>
	<string>be-fit-25f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475086150559:ios:36b36574d420a433c2bbaa</string>
</dict>
</plist>